*.test.js
!.eslintrc.js

bin/**/*.js
lib/**/*.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-outputs.json
cdk.context.json

.env

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# sitemap
public/robots.txt
public/sitemap*
